@import url('./MarsBG.jpeg');
body {
  font-family: 'Heebo', sans-serif;
  text-align: center;
  background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/GigaMars00007Layer%201-1920x1080-f4b1ab3ad4f27c50e98dd7f86e65f6c8.jpg?resize=1&w=1920");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 50px;
  color:  rgb(217, 120, 85);
  text-shadow: 0px 1.5px 1px   rgb(254, 252, 252), 0 0 60px  rgb(248, 247, 246), 0 0 1px rgb(6, 6, 6);
}

form {
  margin-top: 50px;
  display: inline-block;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgb(217, 120, 85);
  text-shadow: 10px 5px 2 px 0 rgb(169, 33, 33), 0 2px rgb(175, 20, 20), 2px 0 rgb(5, 5, 5), 0 -2px black;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color:  rgb(217, 120, 85);
  color: white;
}

#image-container {
  text-align: center;
  color: rgb(10, 10, 10);
  margin-top: 50px;
  text-shadow: 0px 1.5px 1px  rgb(30, 30, 30), 0 0 60px  rgb(3, 3, 3), 0 0 30px rgb(6, 6, 6);
}

#loading-message {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
}




@keyframes progress-bar-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}





/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  body {
  background-size: contain;
  }
  
  h1 {
  margin-top: 20px;
  font-size: 28px;
  }
  
  form {
  margin-top: 20px;
  display: block;
  }
  
  label {
  font-size: 18px;
  }
  
  input[type="number"] {
  width: 100%;
  }
  
  button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  }
  
  #image-container {
  margin-top: 20px;
  }
  
  #loading-message {
  font-size: 12px;
  }
  }
  
  /* Add styles for larger screens */
  @media only screen and (min-width: 600px) {
  body {
  background-size: cover;
  }
  
  h1 {
  margin-top: 50px;
  font-size: 40px;
  }
  
  form {
  margin-top: 50px;
  display: inline-block;
  }
  
  label {
  font-size: 20px;
  }
  
  input[type="number"] {
  width: 200px;
  }
  
  button[type="submit"] {
  width: auto;
  margin-top: 0;
  }
  
  #image-container {
  margin-top: 50px;
  }
  
  #loading-message {
  font-size: 15px;
  }
  }
